.root{
    -fx-background-color: #14181c;
}

.label{
    -fx-text-fill: #e22837;
}

.progress-bar{
    -fx-border-color: #e22837;
    -fx-border-width: 2px;
    -fx-padding: 3px;
    -fx-control-inner-background: #14181c;
    -fx-accent: #e22837;
}
.progress-bar .track{
    -fx-background-insets: 0;
    -fx-background-color: #14181c;
}